* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	font-size: 100%;
}

@font-face {
	font-family: Oldsans;
	src:url('OldSansBlack.ttf');
}

h3,th,.oldsans {
	font-family:Oldsans;
	font-size: 120%;
}

a {
	text-decoration: none;
	color:#696969;
	font-weight:bold;	
}

a:hover {
	color:#1E90FF;
}

.removelink {
	color:#DC143C;
	font-size:120%;
}

.addlink {
	font-weight:normal;
	font-size:75%;
}

th {
	font-size:120%;
}

body {
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

#logo {
	background-color:white;
	padding-left:10px;
	padding-right:10px;
}

#menu {
	background-color:white;
	padding-left:10px;
	padding-right:10px;	
	font-size: 120%;
}

.link {
	list-style-type: none;
	float:left;
}

.link a {
	text-decoration:none;
	color:black;
	font-weight:bold;
	padding-right:20px;
	font-family:Oldsans;
}

.link a:hover {
	color:gray;
}

.swanTable {
	text-align: center;
	border-style: solid;
	border-color: black;
}

.small {
	font-size:10px;
}

#content {
	background-color:white;
	clear:both;
	padding-top: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
}

#footer {
	background-color:black;
	color:white;
	text-align:right;
	clear:both;
}

#pagesdiv1 {
	float:left;
	width:210px;
}

#pagesdiv2 {
	float:left;
}
