* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

body {
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

#logo {
	background-color:white;
	padding-left:10px;
	padding-right:10px;
}

#menu {
	background-color:white;
	padding-left:10px;
	padding-right:10px;	
}

.link {
	list-style-type: none;
	float:left;
}

.link a {
	text-decoration:none;
	color:black;
	font-weight:bold;
	padding-right:20px;
}

.link a:hover {
	color:gray;
}

.swanTable {
	text-align: center;
	border-style: solid;
	border-color: black;
}

#content {
	background-color:white;
	clear:both;
	padding-top: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:30px;
}

#footer {
	background-color:black;
	color:white;
	text-align:right;
}
