* {
font-family: 'Open Sans', sans-serif;
}

#logo {
	background-color:white;
}

#login {
	background-color:white;
}

#leftTopContent {
	padding-top:0px;
	text-align:justify;
	padding-bottom:60px;
}

#leftTopContent img {
	border-style:solid;
	border-width:6px;
	border-color:black;
}

#rightTopContent {
	padding-bottom:0px;
}

#learnCol {
	text-align:center;
	background-color:white;
	//background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#339A99));
	border-style:solid solid none solid;
	border-width:1px;
	border-color:#C0C0C0;
}

#videoCol {
	text-align:center;
	background-color:white;
	//background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#FFFFC0));
	border-style:solid solid none solid;
	border-width:1px;
	border-color:#C0C0C0;
}

#quizCol {
	text-align:center;
	background-color:white;
	//background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#FFFFC0));
	border-style:solid solid none solid;
	border-width:1px;
	border-color:#C0C0C0;
}



#trackCol {
	padding-top:10px;
	padding-left:10px;
	//text-align:left;
	background-color:white;
	//background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F38248));
	border-style:solid none none solid;
	border-width:1px;
	border-color:#C0C0C0;
}

#footer {
	background-color:black;
	color:white;
	text-align:right;
	font-weight:bold;
	margin-top:10px;
}

.topLine {
	border-style:solid;
	border-top-width:10px;
}

.loginFont {
	padding-top:5px;
	padding-right:5px;
}

.homeLink {
	padding-top:20px;
}

.link {
	text-decoration:none;
	font-weight:bold;
	color:#0066CC;
}

.link:hover {
	color:black;
}

.fadein {
position:relative;
width:500px;
height:332px;
}

.fadein img {
position:absolute;
left:0;
top:0;
}
