* {
font-family: 'Open Sans', sans-serif;
}

#logo {
	background-color:white;
}

#login {
	background-color:white;
}

#menu {
	//background-color:#C0C0C0;
	height:32px;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#leftTopContent {
	padding-top:0px;
	text-align:justify;
	padding-bottom:60px;
}

#leftTopContent img {
	border-style:solid;
	border-width:6px;
	border-color:black;
}

#rightTopContent {
	padding-bottom:0px;
}

#trackCol {
	padding-top:40px;
	padding-left:10px;
	background-color:white;
	font-size:24px;
	text-align:justify;
}

#content {
	padding-top:30px;
}

#videoContent {
	padding-top:30px;
}

#footer {
	background-color:black;
	color:white;
	text-align:right;
	font-weight:bold;
	margin-top:10px;
}

.topLine {
	border-style:solid;
	border-top-width:10px;
}

.loginFont {
	padding-top:5px;
	padding-right:5px;
}

.homeLink {
	padding-top:20px;
}

.link {
	text-decoration:none;
	font-weight:bold;
	color:#0066CC;
}

.link:hover {
	color:black;
}

.fadein {
position:relative;
width:500px;
height:332px;
}

.fadein img {
position:absolute;
left:0;
top:0;
}

.menuSpace {
width:565px;
text-align:center;
}

.menuStyle {
color:white;
}
